[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"pep8" = "*"
pylint = "*"
django = "*"
pillow = "*"
psycopg2-binary = "*"
selenium = "*"
coverage = "*"
model-mommy = "*"
gunicorn = "*"
django-heroku = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.7"
