{% extends "core/base.html" %}
{% block content %}


<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <h1>S'inscrire</h1>

        {% if error %}
            <p><strong>Erreur lors de la création de compte.</strong></p>
        {% endif %}

        <form method="post" action="{% url 'user:signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="S'inscrire" />
        </form>
    </div>
</header>

{% endblock %}