{% extends "core/base.html" %}
{% load static %}

{% block content %}

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <h1>Mentions légales</h1>
        <div class="col-lg-12 text-white mb-4">
            <p>Le présent site web a été réalisé par <a target="_blank" href="https://www.linkedin.com/in/loictessier/">Loïc Tessier</a> pour la société PurBeurre. Le code source est <a target="_blank" href="https://github.com/loictessier/purbeurre-app">disponible ici</a>.</p>
            <p>Le site utilise les éléments suivants:</p>
            <dl id="legal-notices">
                <dt>L'icône de carotte de la barre de navigation</dt><dd>Créée par <a target="_blank" href="https://thenounproject.com/term/carrot/29691/">Fabien <span class="caps">Jouin</span></a>.</dd>
                <dt>Les images de Remy et Colette</dt><dd>fournies par <a target="_blank" href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/introduction/Notre-identit%C3%A9">OpenClassRooms</a> dans le cadre d'un projet pédagogique.</dd>
                <dt>Les polices de caractères </dt><dd> proviennent de <a target="_blank" href="https://fonts.google.com/">Google Fonts.</a></dd>
                <dt>Le <em>template</em></dt><dd> est adapté de <a target="_blank" href="https://github.com/BlackrockDigital/startbootstrap-creative">Start Bootstrap Creative.</a></dd>
            </dl>
            <p class="">Aucune donnée personnelle n'est exploitée par ce site, hormis les adresses emails des membres inscrits. Actuellement, ces données servent strictement et uniquement au bon fonctionnement du site web. Toute modification de cette clause vous sera communiquée et soumise à votre validation formelle.</p>
        </div>
    </div>
</header>

{% endblock %}