{% extends "core/base.html" %}
{% load static %}

{% block top_scripts%}
{{ block.super }}
<link href="{% static 'openfoodfacts/css/results.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<section class="page-section bg-dark search-banner" style="background-image:url('{{ result.img_url }}')">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-3 mx-auto">
                <p class="search_title"> {{ result.name }} </p>
            </div>
        </div>
   </div>
</section>

<section class="results-section">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <img src="{{ result.img_nutrinfo_url }}">
            </div>
            <div class="col-lg-6 mx-auto">
                <img src="{% static 'openfoodfacts/img/nutriscore/detail/'|add:result.nutriscore|add:'.svg' %}">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 mx-auto mt-5">
                <a class="btn btn-primary" href="{{ result.off_url }}" target="_blank">Voir la fiche d'OpenFoodFacts</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}