{% extends "core/base.html" %}
{% load static %}
{% load favorite_filter %}

{% block top_scripts%}
    {{ block.super }}
    <link href="{% static 'openfoodfacts/css/results.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="page-section bg-dark search-banner" style="background-image:url('{{ result.img_url }}')">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-3 mx-auto">
                    <p class="search_title"> {{ result.name }} </p>
                </div>
            </div>
    </div>
    </section>

    <section class="results-section">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <img src="{{ result.img_nutrinfo_url }}">
                </div>
                <div class="col-lg-6 mx-auto">
                    <img src="{% static 'openfoodfacts/img/nutriscore/detail/'|add:result.nutriscore|add:'.svg' %}">
                    {% if request.user.is_authenticated %}
                        {% include "rating/rating-product.html" %}
                    {% endif %}
                    <p>Note moyenne des utilisateurs: {{ result.avg_rating|default:"Aucune note enregistrée" }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 mx-auto mt-5">
                    <a class="btn btn-primary" href="{{ result.off_url }}" target="_blank">Voir la fiche d'OpenFoodFacts</a>
                    {% if request.user.is_authenticated %}
                        {% if result.pk|check_product_favorite:request.user %}
                            <a class="set_favorite btn btn-primary" href="{% url 'favorite:remove_favorite' product_id=result.pk %}"><i class="fas fa-trash-alt"></i> Retirer des favoris</a>
                        {% else %}
                            <a class="set_favorite btn btn-primary" href="{% url 'favorite:add_favorite' substitute_product_id=result.pk %}"><i class="fas fa-save"></i> Sauvegarder</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block bottom_scripts%}
    {{ block.super }}
    <script src="{% static '/favorite/js/favorite-links.js' %}"></script>
{% endblock %}