{% extends "core/base.html" %}
{% load static %}

{% block top_scripts%}
    {{ block.super }}
    <link href="{% static 'favorite/css/favorites.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="page-section bg-dark">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-3 mx-auto favorite_title">
                    <p class="title"> Mes produits favoris </p>
                </div>
            </div>
        </div>
    </section>


    <section class="favorites-section">
        <div class="container">
            <div class="row mt-5 fav-content">
                {% if status %}
                    {% for fav in favorites %}
                    <div class="col-lg-4 mb-4 favorite">
                        <a href="{% url 'openfoodfacts:detail' product_id=fav.product.pk %}">
                            <div class="favorite-container">
                                <img src="{{ fav.product.img_url }}" height="200" width="150">
                                <img class="top-right" src="{% static 'openfoodfacts/img/nutriscore/result/'|add:fav.product.nutriscore|add:'.png' %}">
                            </div>
                            <div class='favorite_name'>{{ fav.product.name|add:" ["|add:fav.product.nutriscore|upper|add:"]" }}</div>
                        </a>
                        <a class="remove_favorite" href="{% url 'favorite:remove_favorite' product_id=fav.product.pk %}"><i class="fas fa-trash-alt"></i> Retirer des favoris</a>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="col-lg-12">Aucun produit(s) sauvegardé(s).</div>
                {% endif %}
            </div>
    </div>
    </section>
{% endblock %}

{% block bottom_scripts %}
    {{ block.super }}
    <script src="{% static '/favorite/js/favorite-links.js' %}"></script>
{% endblock %}