<div class="container my-auto">
    <form action="{% url 'rating:post_rating_product' product_id=result.pk %}" method="POST">
        {% csrf_token %}
        <label for="rating-product">Votre note:</label>
        <select name="rating-product" id="rating-product">
            <option value="0" {% if 0 == result.rating %}selected="selected"{% endif %}>Pas de note</option>
            <option value="1" {% if 1 == result.rating %}selected="selected"{% endif %}>1</option>
            <option value="2" {% if 2 == result.rating %}selected="selected"{% endif %}>2</option>
            <option value="3" {% if 3 == result.rating %}selected="selected"{% endif %}>3</option>
            <option value="4" {% if 4 == result.rating %}selected="selected"{% endif %}>4</option>
            <option value="5" {% if 5 == result.rating %}selected="selected"{% endif %}>5</option>
        </select>
        <button id="rating-save-button" type="submit" class="btn btn-secondary" href="">Enregistrer</button>
    </form>
</div>